  	.title{
  		padding-top: 100px;
  		text-shadow: 0.05em 0.05em #333;
  		font-weight: bold;
  		font-size: 48px;
  		color: darkblue;
  	}

  	.slideBody{
  		vertical-align: left;
  		text-align: left;
  		font-size: 2.3vw;
  		padding-left: 200px;
  		padding-top: 50px;
  	}

    table{
      line-height: 9px;
      /*font-size: 9px;*/
      padding: 0.2px;
      margin: 0px;
      width: 100%;
      /*height: 70%;*/
    }
    td{
      /*background-color:lightblue;*/
      padding: 1.5px;
      margin: 1px;
    }
    p{
      padding: 1.5px;
      margin: 1px;
    }