<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Slite - online presentations</title>
	<meta name="title" content="SLITE - online presentations" />
	<meta name="description" content="Upload or create powerpoint slides for web" />
	<link rel="image_src" href="img/favicon.png" />

	<meta content="http://slite.us" property="og:url" />
	<meta content="http://slite.us/img/logo.png" property="og:image" />
	<link rel="shortcut icon" id="favicon" href="img/favicon.png"> 
	<meta name="author" content="SLITE inc.">
	<link rel="canonical" href="http://slite.us" />
	<script src="js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.onepage-scroll.js"></script>
  <link href='css/onepage-scroll.css' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
  
	
  <style>
    
	</style>
	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/screen.css">
  <link rel="stylesheet" href="css/mainPage.css">
	<script>
	  $(document).ready(function(){
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 600,
        loop: true
      });
		});		
	</script>
	
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')</script>-->
        <script src="js/bootstrap.js"></script>
        <!--<script src="js/holder.js"></script>-->
        <input type="hidden" id="refreshed" value="no">
        <script type="text/javascript">
          onload=function(){
            var e=document.getElementById("refreshed");
            if(e.value=="no")e.value="yes";
            else{e.value="no";location.reload();}
            }
			
		function goToPage(page_index){
			 $.fn.moveTo(page_index);
       $('.menuLink').toggleClass('active');
		}		
        </script>
        <script src="http://slite-dev.elasticbeanstalk.com:1337/socket.io/socket.io.js"></script>
        <script src="js/client.js"></script>
        <script src="js/main.js"></script>
    </body>
</head>
<body>
  <div class="wrapper">
  

	  <div class="main">	  
		 
      <section class="page1">
    	  	<div id="bgvid">
    				<video autoplay poster="img/Slite_Background.jpg" style="width:100%"><source src="./Untitled2.mp4" type="video/mp4"></video><br />
    				<!--<img data-id="180"  src="img/Slite_Background.jpg" alt="blick" class="alignnone size-medium wp-image-180 blick_bg" />-->
    		  </div> 
          <div class="page_container">
                <div class="uploadfile">
                    <button type="button" class="btn btn-default btn-yellow">Upload Presentation</button>
                    <input type="file" accept="pptx" id="uploadPresentation">
                </div>
                <div class="uploadfile" style='margin: 40px auto 0 auto;display:none'>
                    <button type="button" id="createPresentation" class="btn btn-default btn-yellow">Create Presentation</button>
                </div>
      	 </div>
      </section>
	    
	    <section class="page2" id="about" style="position: absolute; top: 100%; left: 0px;background: url(Background_BusinessMeeting.jpg) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container-fluid" style='width: 50%;padding:0px;float: right; height: 100%'>
      			<div class=WordSection1>
      				<p class=MsoNormal>SLITE - the only company in the world allowing you to do <u>live</u> presentations without a projector or a conference room.
      				We can do everything PowerPoint can and 1,000 times more (literally) ... and for free. Why? Because we have a new patented technology allowing us to do magic:</p>

      				<p class=MsoNormal>Do you want to do presentations without renting a projector? With
      				SLITE you can!</p>

      				<p class=MsoNormal>Do you want to do presentations without renting a conference room? With
      				SLITE you can!</p>

      				<p class=MsoNormal>Do you want to show live(!) data inside your slide? With
      				SLITE you can!</p>

      				<p class=MsoNormal>Do you want to allow your audience to comment, like, vote  inside your presentation? With
      				SLITE you can!</p>

      				<p class=MsoNormal>Do you want a tool allowing you to make a documented
      				decision during the meeting? And have that decision stay with your presentation and not in a separate document? With SLITE you can!</p>

      				<p class=MsoNormal>Do you want a transcript of what was said during the
      				presentation, automatically? With SLITE you can!</p>

      				<p class=MsoNormal>Do you want to control presentation with your cell phone?
      				With SLITE you can!</p>

      				<p class=MsoNormal>Do you want to control presentation simply by voice?
      				With SLITE you can!</p>

      				<p class=MsoNormal>Do you want to do presentations in a park, with audience
      				watching it on their cell phones? With SLITE you can!</p>

      				<p class=MsoNormal>So why did we created SLITE?</p>

      				<p class=MsoNormal>It all started with me, CEO, being a DJ. Yes a DJ in
      				nightclubs. After I was already an established DJ, I started producing my own
      				events. What I liked about it was that this was an infinite medium: you could
      				do fashion shows, paintings, masquerades and so on. Over time my events grew
      				from simple DJ dancing to extravagant shows. But even that was not enough. I
      				was limited by the walls of the clubs where I was doing my shows.
      				And then I looked into the web ?</p>

      				<p class=MsoNormal>Who likes trivia shows? I do. So I hang out with very very
      				smart people: PhDs, scientists, and just simply walking Wikipedias (and models
      				due to my DJ career). And with the best of them we formed our
      				company - SLITE.</p>

      				<p class=MsoNormal>We simply got tired of all the limitation of the PowerPoint:
      				being forced to squeeze data into slides, waste people's time with projector setups, and not be able to do what we used to with other technologies: how many times you tried to "like" a slide? Just to tell you
      				how bad this problem is: it was determined that Shuttle Discovery disaster
      				happened because of the PowerPoint inherit notion of data condensation. Did I mention
      				that with SLITE you can have infinite! data per slide? People cannot deal
      				anymore with something that was designed in 1995 to model after the film which
      				you used to stick into a projector. One of our missions in SLITE is to change the
      				English meaning of the word - presentation.</p>

      				<p class=MsoNormal>We are a small company based in Silicon Valley, California,
      				USA. We work hard on this product, but also want to make it fun. This might go
      				against any good business advice, but what we cherish the most about our product is "how cool is it"!</p>

      				<p class=MsoNormal>If you want to inquire about a product or make a suggestion
      				please write to us at: info@slite.us or directly to me, Jim, at ceo@slite.us.</p>
                  </div>
      			</div>
      </section>
	    
	    <section class="page3" style="position: absolute; top: 200%; left: 0px;background: url(Background_BusinessPeople.jpg) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
  		  <div class="container-fluid" style='width: 50%;padding:0px;float: left; height: 100%'>
  			<div class=WordSection1 style='padding-top: 50px'>
  				<p class=MsoNormal>Business inquiries: partners@slite.com</p>
  				<p class=MsoNormal>Press: press@slite.com</p>
              </div>
  		  </div>
      </section>
    </div>
    <div class="back" href="http://www.slite.us">

        <nav class="navbar navbar-default m-navbar" role="navigation">

                  <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a href="javascript:goToPage(1)" class="logo"><img src="img/logo.png" width=100px></a>
                      </div>

                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style='z-index: 5'>
                        <ul class="nav navbar-nav">
                          <li>
                              <a href="javascript:goToPage(2);" class='menuLink' id='menuAbout'>About</a>
                          </li>
                          <li>
                <a href="javascript:goToPage(3);" class='menuLink' id='menuContact'>Contact</a>
              </li>
                        </ul>

                        <!--<form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control btn-create" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </form>-->

                        <ul class="nav navbar-nav navbar-right">
                          <li class="link-signin">
                           <!-- <% if (!user) { %>-->
                              <a href="signin.html"><span class="glyphicon glyphicon-user"></span> Sign in</a>
                           <!-- <% } else { %>
                              <a href="/account"><span class="glyphicon glyphicon-user"></span> Hello, <%= user.username %>.</a>
                            <% } %> -->
                          </li>
                          <li class="link-signin">
                           <!-- <% if (!user) { %> -->
                              <a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign up</a>
                           <!-- <% } else { %>
                              <a href="/logout"><span class="glyphicon glyphicon-user"></span> Sign out.</a>
                            <% } %>-->
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
          </nav>
    </div>
    <!--<a href="https://github.com/peachananr/onepage-scroll"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>-->
  </div>
  
 
</body>
</html>