*.JS~
*.html~
BACKEND/.APP.JS.swp
*.swp
*.pptx

www/.DS_Store

*.xcuserstate

*.xcscheme

www/.DS_Store

www/.DS_Store

.DS_Store

BACKEND/.DS_Store

.DS_Store

www/.DS_Store

.DS_Store

*.xcbkptlist


*.xccheckout

passport.socketio/
