.close { 
  cursor:pointer;
  width: 30px;
  height: 30px;
  background: url(../images/close.svg);
  opacity: 0.35
}

.close:hover {
  opacity: 0.6
}

.menu { 
  width: 30px;
  height: 30px;
  cursor:pointer;
  background: url(../images/menu-icon.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.35
}

.menu:hover {
  opacity: 0.6
}

.join {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 10px 20px;
  overflow: visible;
  border: 1px solid #7badd9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, #cee0ef 0, #7badd9 100%);
  background: -moz-linear-gradient(180deg, #cee0ef 0, #7badd9 100%);
  background: linear-gradient(180deg, #cee0ef 0, #7badd9 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.join:hover {
  background: -webkit-linear-gradient(-90deg, #7badd9 0, #cee0ef 100%);
  background: -moz-linear-gradient(180deg, #7badd9 0, #cee0ef 100%);
  background: linear-gradient(180deg, #7badd9 0, #cee0ef 100%);
}

