/* This is the style sheet for the remote control
 * found under index.html */

/* removes all margins and padding. */

* { margin: 0; padding: 0;}

/*makes height be full screen */
html, body {height: 100%; }

body {
    font-size: 180%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
	background: black;
}

/* previous width and height in em units commented  
 * in case there is a need to revert. */

/* all the UI elements (buttons, laser control, notes, etc)
 * currently have a black border for ease of development */
.UI {
    font-size: 6.3vmin;
   /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
    }

input[type=text] {
	  background: black;
    font-size: 5.4vmin;
    /*border: none;*/ /*turns off border on the URL element text box*/
    border-style: inset;
}

#URLBox{
	color: rgb(69, 166, 247);
	opacity:0.7;
}

#timeDisplay {
    font-size: 6.3vmin;
    text-align: center;
    overflow: hidden;
	cursor: pointer;
	color: rgb(69, 166, 247);
	opacity:0.7;
}

#notes {
    position: relative;
    overflow: scroll;
    z-index: 1;
}

/* overlay element is intended to cover up the iframe to disable
 * user interaction with the iframe. */ 
#overlay {
    position:absolute;
    width: inherit; height: inherit;
    border: none;
    z-index: 0;
}    
    
#theIframe {
	background: white;
    position: absolute;
      width: 267%;
  height: 289%;
    z-index: 1;
}
    
.topRow {
    height: 7%;
    }

.midRow {
    height: 86%;
    }

.botRow {
    height: 14%;
    opacity:0.7;
    border: none;
}

.leftCol {
    width: 10%;
	
}

.midCol {
    width: 80%;
	margin-left: 5px;
}

.rightCol {
    width: 18.75%;
}

#prev {
    
    }
    
    #prev:active {
        border-color: red;
    }

#next {

}
    
    #next:active {
        border-color:red;
    }

/* filler elements are for spacing the buttons on the
 * bottom row. */
#filler {
    width: 3.95%;
    border: white;
}

.button { 
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
/*basic styles*/ width: 250px; height: 50px; color: #fff; background-color: #125182; text-align: center; font-size: 30px; line-height: 50px; 
/*gradient styles*/ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #125182), color-stop(.5, #1269ab), color-stop(.51, #004375), to(#00345b)); 
background: -moz-linear-gradient(top, #125182, #1269ab 50%, #004375 51%, #00345b); /*border styles*/ -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; -moz-box-shadow:inset 0 0 10px #000000; -webkit-box-shadow:inset 0 0 10px #000000; box-shadow:inset 0 0 10px #000000; } 
.button p { font-size: 30px; line-height: 50px; font-family: “HelveticaNeue-Light”, “Helvetica Neue Light”, “Helvetica Neue”, Helvetica, Arial, “Lucida Grande”, sans-serif; font-weight: 300; text-shadow: 0px 0px 3px #555; } 
a { text-decoration: none; color: fff; } 
.button:hover { -moz-box-shadow:inset 0 0 50px #000000; -webkit-box-shadow:inset 0 0 50px #000000; box-shadow:inset 0 0 50px #000000; } 
.button p:hover { text-shadow: 0px 0px 3px #888; }

.roundButton{
  font-size: 36px;
  width: 96%;
  color: rgb(69, 166, 247);
  height: 60px;
  line-height: 60px;
  /* background-image: url('../img/buttonLaser.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border-radius: 50px;  
  text-align: center;
  border: 6px;
  border-style: solid;
  border-color: rgb(69, 166, 247);
  margin-top:2px;
  margin-bottom: 2px;
  cursor: pointer;
}

#laser {
    }

#draw {
    
    }

#speech {
    
    }

button {
    width: 100%; height: 15%;
    color: black;
    
    background-image: url('../img/buttonSpeech.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    }

/* wrap and frame classes are for resizing the content inside
 * the iframe */

.wrap {
    padding: 0;
    overflow: hidden;
}
    
.frame {
    width: auto; height: auto;
    border: 0;
    
    -ms-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-tranform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
