#login-screen, #main-chat-screen {
	padding: 10vw 0 0 1vw;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 95%;
}

/*chat sign up "your name"*/
.commentsInput {
  width: 90% !important;
}

.main {
  padding-top: 10px;
  text-align: center;
}
#conversation {
  font-size: 12px;
  margin: 0px;
  height: 200px;
  margin-left: 12px;
  overflow-y: scroll;
  z-index: 1;
  height: 99%;
}

#chatForm {
    position: absolute;
    left: 0px;
    width: 90%;
}

.conversationAndPeople {
    height: 80%;
}

.final {
  font-color: #000;
}
.interim {
  font-color: #f00;
}

#people {
  font-size: 10px;
}

#people .list-group-item {
  height: 100%;
  z-index: 10;
}

#peopleDiv {
  width: 40%;
  float: right;
  overflow-y: scroll;
  margin-right: 7px;
}
