#login-screen, #main-chat-screen {
  padding-top: 10px;
}
.main {
  padding-top: 10px;
  text-align: center;
}
#conversation {
  font-size: 12px;
  margin: 0px;
  height: 200px;
  margin-left: 12px;
  overflow: scroll;
}
.final {
  font-color: #000;
}
.interim {
  font-color: #f00;
}

#people {
  font-size: 10px;
}

#people .list-group-item {
  height: 30px;
}