div#main {
    border: solid white 1px;
    position: relative;
    width: 29em;
    height: 18em;
    margin-top: 1em;
}

.UI {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    }

.topRow {
    height: 5.55%; /* 1em */
    }

.midRow {
    height: 77%em; /* 14em */
    }

.botRow {
    height: auto; /* 2em? */
    }
    
.leftCol {
    width: 10%;
}

.midCol {
    width: 73%;
}

.rightCol {
    width: auto;
}

#prev {
    width: 25.69%; /*7.45 em*/
    background-image: url('../img/buttonPrev.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
    
    #prev:active {
        color: red;
    }

#next {
    width: 7.45em;
    background-image: url('../img/buttonNext.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
    
    #next:active {
        color:red;
    }

#filler {
    width: 1.35em;
    border: white;
}

#laser {
    width: 4em;
    color: black;
    }

#draw {
    width: 4em;
    color: black;
    }

.wrap {
    padding: 0;
    overflow: hidden;
}
    
.frame {
    width: 5em; height: 5em;
    border: 0;
    
    -ms-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-tranform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}