div#main {
    border: solid white 1px;
    position: relative;
    width: 29em;
    height: 18em;
    margin-top: 1em;
}

.UI {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    }

.topRow {
    height: 1em;
    }

.midRow {
    height: 14em;
    }

.botRow {
    height: 2em;
    }
    
.leftCol {
    width: 3em;
}

.midCol {
    width: 21em;
}

.rightCol {
    width: 4em;
}

#prev {
    width: 7.45em;
}

#filler {
    width: 1.35em;
    border: white;
}

#laser {
    width: 4em;
}

#draw {
    width: 4em;
}

#next {
    width: 7.45em;
}
#laserButton {
    color: black;
}

#drawButton {
    color: black;
}

/*
#currentSlide {
  position: absolute;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 1px;
  background-image:url('laser_test_slide.jpg');
}
*/